<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">
	
	<!-- 扫描包 -->
	<context:annotation-config />
    <!--指明 controller 所在包，并扫描其中的注解-->
    <context:component-scan base-package="brave.dubbo.rpc.**"/><!-- 放在最先扫描的位置 -->
    <context:component-scan base-package="org.demo.**"/>
    <context:component-scan base-package="org.gmall.**"/>

	<!-- import the properties -->
	<!-- <context:property-placeholder location="classpath:application.properties" /> -->
	<bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="locations">
	        <list>
	            <value>classpath*:application.properties</value>
	        </list>
	    </property>
	</bean>
	<!-- 具体的实现bean -->
	<bean id="restUserService" class="org.demo.rest.RestUserServiceImpl" />
	
</beans>